/**********************************************************/

/* Common styles
/**********************************************************/

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.content-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.half-width {
  width: 50%;
}

.half-height {
  height: 50%;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.center {
  vertical-align: middle;
  text-align: center;
}

.btn {
  border: medium none;
  cursor: pointer;
  padding: 25px 60px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  outline: medium none;
  position: relative;
  color: #FFF;
  border-radius: 0px 0px 5px 5px;
  font-size: 26px;
  white-space: nowrap;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.left-padding {
  padding-left: 20px;
}

/**********************************************************/

/* Main screen
/**********************************************************/

.hostgame {
  background-color: #F06060;
}

.hostgame .btn {
  box-shadow: 0px 6px #9A2B2B;
  background-color: #BA3D3D;
}

.hostgame .btn:disabled {
  box-shadow: 0px 0px #9A2B2B;
  background-color: #DC5F5F;
  color: #BF5757;
}

.hostgame .btn:disabled:hover {
  box-shadow: 0px 0px #9A2B2B;
  top: 0;
}

.hostgame .btn:hover {
  box-shadow: 0 4px #9A2B2B;
  top: 2px;
}

.playergame {
  background-color: #0E83CD;
}

.playergame .btn {
  box-shadow: 0px 6px #004D9C;
  background-color: #115EAD;
}

.playergame .btn:hover {
  box-shadow: 0 4px #004D9C;
  top: 2px;
}

/**********************************************************/

/* Create game screen
/**********************************************************/

.creategame {
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #F06060;
}

.list-group {
  list-style: none;
  text-align: left;
  padding: 0;
}

.list-group-item {
  background-color: #2ECC71;
  border: 1px solid #EEE;
  padding: 5px 0 5px 10px;
  font-weight: bold;
  font-size: 14px;
}

.list-group-item + .list-group-item {
  border-top: none;
}

.free-slot {
  color: #EEE;
  background-color: #fff;
}

/**********************************************************/

/* Join game screen
/**********************************************************/

.joingame {
  padding: 5px;
}

.input-control {
  padding-bottom: 10px;
}

.input-control input {
  border-radius: 5px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  height: 50px;
  font-size: 24px;
}

.joingame .btn {
  width: 100%;
  max-width: 300px;
}

/**********************************************************/

/* Player game screen
/**********************************************************/

/**
 * Card panel
 */

.card-panel {
  width: 100%;
  padding: 0 18px;
  background-color: #0E83CD;
  height: 60%;
  position: relative;
}

.card-panel:before {
  left: 0;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #004D9C;
  margin-top: -12px;
}

.card-panel:after {
  right: 0;
  top: 50%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #004D9C;
  margin-top: -12px;
}

/**
 * Notification panel
 */

.notification-panel {
  width: 100%;
  background-color: #FCD04B;
  height: 10%;
}

/**
 * Guess tricks panel
 */

.guess-panel {
  width: 100%;
  height: 30%;
}

.guess-panel .button-wrapper {
  height: 100%;
}

.guess-panel button {
  width: 9%;
  height: 50%;
  border: 1px solid #fff;
  background-color: #333940;
  color: #fff;
}

.guess-panel button + button {
  border-left: none;
  border-bottom: none;
}

.guess-panel button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: default;
}

.guess-panel button:disabled {
  background-color: #eee;
  color: #ccc;
}

.guess-panel button:first-of-type {
  height: 100%;
  float: left;
  width: 10%;
}

/**
 * Playing card stack and playing card
 */

.playing-card-stack {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: scroll;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  border-left: 3px solid #004D9C;
  border-right: 3px solid #004D9C;
  border-radius: 5px;
}

.playing-card-stack li {
  display: inline-block;
  margin: 5px 3px 3px 0;
  width: 90px;
  height: 90%;
}

.playing-card-stack li:last-child {
  margin-right: 0;
}

.playing-card {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #000;
  border-radius: 8px;
}

.playing-card .middle {
  position: absolute;
  top: 40%;
}

.playing-card .center {
  text-align: center;
  width: 100%;
}

.playing-card .corner {
  position: absolute;
  padding: 4px;
  font-size: 14px;
  line-height: 14px;
}

.playing-card .top {
  top: 0;
}

.playing-card .bottom {
  bottom: 0;
}

.playing-card .left {
  left: 0;
}

.playing-card .right {
  right: 0;
}