<div class="info-panel table">
  <div class="table-cell center">Game ID: <span class="highlight">{{ gameId }}</span> Round: <span class="highlight">{{ round.current }} / {{ round.max }}</span>Trickwinner: <span class="highlight">{{ trickwinner }}</span></div>
</div>

<div class="play-panel table full-width">
  <div class="playing-table table-cell center hostgame">

    <div class="trumpcard-container">
      <tb-playing-card info="trumpCard"></tb-playing-card>
    </div>

    <ul class="playing-card-stack">
      <li ng-repeat="card in cards">
        <tb-playing-card info="card"></tb-playing-card>
      </li>
    </ul>

    <div class="start-btn-wrapper">
      <button ng-click="startRound()" ng-disabled="isStartRoundDisabled" ng-model="isStartRoundDisabled" class="btn">Start Round {{ round.current }}</button>
    </div>
  </div>

  <div class="score-panel table-cell center">
    <table class="score-table-background">
      <thead>
        <tr>
          <td class="round in-use">#</td>
          <td ng-repeat="player in players" class="in-use">{{ player.playerName }}</td>
          <td ng-repeat="i in range(6 - players.length)" class="unused">P{{ ($index + 1) + players.length }}</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="i in range(round.current)">
          <td class="round">{{ $index + 1 }}</td>
          <td ng-repeat="player in players" class="in-use score-set">
            <div class="scores table full-width full-height">
              <div class="guessedNumber table-cell center">{{ scores[$parent.$index + 1][player.playerId].guessedTricks }}</div>
              <div class="score table-cell center">{{ scores[$parent.$index + 1][player.playerId].score }}</div>
            </div>
          </td>
          <td ng-repeat="i in range(6 - players.length)" class="unused"></td>
        </tr>
        <tr ng-repeat="i in range(20 - round.current)">
          <td class="round">{{ $index + 1 + round.current }}</td>
          <td ng-repeat="j in range(6)" class="unused" ng-hide="($parent.$index + 1 + round.current) > (60 / ($index + 1))"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>