/**********************************************************/
/* Common styles
/**********************************************************/
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
.content-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.half-width {
  width: 50%;
}
.half-height {
  height: 50%;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.center {
  vertical-align:middle;
  text-align: center;
}

.btn {
  border: medium none;
  cursor: pointer;
  padding: 25px 60px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  outline: medium none;
  position: relative;
  color: #FFF;
  border-radius: 0px 0px 5px 5px;
  font-size: 26px;
  white-space: nowrap;
}

.btn-primary {
  box-shadow: 0px 6px #823AA0;
  background-color: #9E54BD;
  font-size: 22px;
  padding: 10px 30px;
}
.btn-primary:hover {
  box-shadow: 0 4px #823AA0;
  top: 2px;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.left-padding {
  padding-left: 20px;
}

/**********************************************************/
/* Main screen
/**********************************************************/
.hostgame {
  background-color: #F06060;
}
.hostgame .btn {
  box-shadow: 0px 6px #9A2B2B;
  background-color: #BA3D3D;
}
.hostgame .btn:disabled {
  box-shadow: 0px 0px #9A2B2B;
  background-color: #DC5F5F;
  color: #BF5757;
}
.hostgame .btn:disabled:hover {
  box-shadow: 0px 0px #9A2B2B;
  top: 0;
}
.hostgame .btn:hover {
  box-shadow: 0 4px #9A2B2B;
  top: 2px;
}

.playergame {
  background-color: #0E83CD;
}
.playergame .btn {
  box-shadow: 0px 6px #004D9C;
  background-color: #115EAD;
}
.playergame .btn:disabled {
  box-shadow: 0px 0px #9A2B2B;
  background-color: #226FBE;
  color: #115EAD;
}
.playergame .btn:disabled:hover {
  box-shadow: 0px 0px #9A2B2B;
  top: 0;
}
.playergame .btn:hover {
  box-shadow: 0 4px #004D9C;
  top: 2px;
}

/**********************************************************/
/* Create game screen
/**********************************************************/
.creategame {
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #F06060;
}

.list-group {
  list-style: none;
  text-align: left;
  padding: 0;
}
.list-group-item {
  background-color: #2ECC71;
  border: 1px solid #EEE;
  padding: 5px 0 5px 10px;
  font-weight: bold;
  font-size: 14px;

}
.list-group-item + .list-group-item {
  border-top: none;
}

.free-slot {
  color: #EEE;
  background-color: #fff;
}

/**********************************************************/
/* Join game screen
/**********************************************************/
.joingame {
  padding: 5px;
  position: relative;
}
.input-control {
  padding-bottom: 10px;
}
.input-control input {
  border-radius: 5px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  height: 50px;
  font-size: 24px;
}
.joingame .btn {
  width: 100%;
  max-width: 300px;
}

/**********************************************************/
/* Player game screen
/**********************************************************/

/**
 * Card panel
 */
.card-panel {
  width: 100%;
  padding: 0 18px;
  background-color: #0E83CD;
  height: 60%;
  position: relative;
}
.card-panel:before {
  left: 0;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right:12px solid #004D9C;
  margin-top: -12px;
}

.card-panel:after {
  right: 0;
  top: 50%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #004D9C;
  margin-top: -12px;
}

/**
 * Notification panel
 */
.notification-panel {
  width: 100%;
  background-color: #FCD04B;
  height: 10%;
}

/**
 * Guess tricks panel
 */
.guess-panel {
  width: 100%;
  height: 30%;
}

.guess-panel .button-wrapper {
  height: 100%;
}

.guess-panel button {
  width: 9%;
  height: 50%;
  border: 1px solid #fff;
  background-color: #333940;
  color: #fff;
}

.guess-panel button + button {
  border-left: none;
  border-bottom: none;
}

.guess-panel button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: default;
}

.guess-panel button:disabled {
  background-color: #eee;
  color: #ccc;
}

.guess-panel button:first-of-type {
  height: 100%;
  float: left;
  width: 10%;
}

/**
 * Playing card stack
 */

.playing-card-stack {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: scroll;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  border-left: 3px solid #004D9C;
  border-right: 3px solid #004D9C;
  border-radius: 5px;
  position: relative;
}
.playing-card-stack li {
  position: relative;
  display: inline-block;
  margin: 5px 3px 3px 0;
  width: 80px;
  height: 90%;
  margin-left: -30px;
  z-index: 1;
}

.playing-card-stack li:last-child {
  margin-right: 0;
}
.playing-card-stack li:first-child {
  margin-left: 0;
}


/**********************************************************/
/* Host game screen
/**********************************************************/
.info-panel {
  width: 100%;
  background-color: #2C3E52;
  color: #B6BDC5;
  height: 10%;
}
.separator {
  color: #B6BDC5;
  padding: 0 10px;
}
.highlight {
  color: #ED4E6E;
  font-weight: bold;
  padding-right: 40px;
}

.play-panel {
  height: 90%;
}

.playing-table {
  width: 65%;
  background-color: #F06060;
  position: relative;
  padding: 10px;
}

.score-panel {
  width: 35%;
  background-color: #226FBE;
  padding: 10px;
  font-size: 12px;
  color: #fff;
}

.score-table-background {
  width: 100%;
}
.score-table-background thead {
  font-weight: bold;
}
.round {
  font-weight: bold;
  border-right: 2px solid #FFFFFF;
}

.in-use {
  border-right: 1px solid rgba(150, 150, 150, 0.8);
  border-bottom: 1px solid rgba(150, 150, 150, 0.8);
}
.unused {
  border-right: 1px solid rgba(150, 150, 150, 0.4);
  border-bottom: 1px solid rgba(150, 150, 150, 0.4);
  color: rgba(255, 255, 255, 0.2);
}

.score-table-background thead .in-use {
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

.scores {
  color: #fff;
}

.guessedNumber {
  width: 30%;
  border-right: 1px solid #fff;
  color: #C7CED6;
}
.score {
  width: 70%;
  color: #FCD04B;
}

.score-set {
  border-right: 2px solid #fff;
}

.start-btn-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -165px;
}

.trumpcard-container {
  width: 120px;
  height: 70px;
  top: 10px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  text-align: left;
}

.playing-table .playing-card-stack {
  height: 45%;
  text-align: left;
}

.playing-table .playing-card-stack li {
  margin-left: 0;
}

/**********************************************************/
/* Playing card
/**********************************************************/
.playing-card {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #555;
  color: #FFF;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
}
.playing-card .corner {
  position: absolute;
  padding: 8px;
  font-size: 22px;
  line-height: 14px;
  font-weight: bold;
}
.playing-card .top {
  top: 0;
}
.playing-card .bottom {
  bottom: 0;
}
.playing-card .left {
  left: 0;
}
.playing-card .right {
  right: 0;
}

/* The reverse animation */
.playing-card-animation {
  transition-property: top;
  transition: 0.3s ease all;
}



/**********************************************************/
/* Modal overlay directive
/**********************************************************/
.modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.7;
}
.modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 70%; /* Default */
  max-width: 400px;

  /* Center the dialog */
  top: 50%;
  left: 50%;
  border-radius: 10px;
  padding: 20px 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #eee;
  box-shadow: 4px 4px 80px #000;
}
.modal-dialog-content {
  padding:10px;
  text-align: center;
}


/**********************************************************/
/* Windows 8 loader
/**********************************************************/
.windows8 {
  position: absolute;
  width:  35px;
  height: 35px;
  top: 50%;
  margin-top: -16px;
  right: 0;
  margin-right: 35px;
}

.windows8 .wBall {
  position: absolute;
  width: 31px;
  height: 31px;
  opacity: 0;
  -webkit-transform: rotate(225deg);
  -webkit-animation: orbit 7.15s infinite;
  transform: rotate(225deg);
  animation: orbit 7.15s infinite;
}

.windows8 .wBall .wInnerBall{
  position: absolute;
  width: 5px;
  height: 5px;
  background: #FFFFFF;
  left:0px;
  top:0px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}

.windows8 #wBall_1 {
  -webkit-animation-delay: 1.56s;
  animation-delay: 1.56s;
}

.windows8 #wBall_2 {
  -webkit-animation-delay: 0.31s;
  animation-delay: 0.31s;
}

.windows8 #wBall_3 {
-webkit-animation-delay: 0.62s;
animation-delay: 0.62s;
}

.windows8 #wBall_4 {
-webkit-animation-delay: 0.94s;
animation-delay: 0.94s;
}

.windows8 #wBall_5 {
-webkit-animation-delay: 1.25s;
animation-delay: 1.25s;
}


@keyframes orbit {
  0% {
  opacity: 1;
  z-index:99;
  transform: rotate(180deg);
  animation-timing-function: ease-out;
  }

  7% {
  opacity: 1;
  transform: rotate(300deg);
  animation-timing-function: linear;
  origin:0%;
  }

  30% {
  opacity: 1;
  transform:rotate(410deg);
  animation-timing-function: ease-in-out;
  origin:7%;
  }

  39% {
  opacity: 1;
  transform: rotate(645deg);
  animation-timing-function: linear;
  origin:30%;
  }

  70% {
  opacity: 1;
  transform: rotate(770deg);
  animation-timing-function: ease-out;
  origin:39%;
  }

  75% {
  opacity: 1;
  transform: rotate(900deg);
  animation-timing-function: ease-out;
  origin:70%;
  }

  76% {
  opacity: 0;
  transform:rotate(900deg);
  }

  100% {
  opacity: 0;
  transform: rotate(900deg);
  }
}
