<p>{{ notification }}</p>
<div class="pull-left">
  <ul class="playing-card-stack">
    <li ng-repeat="card in cards" style="color: {{ card.color }};">
      <tb-playing-card info="card"></tb-playing-card>
    </li>
  </ul>
</div>
<div class="pull-right">
  <h5>Guess your number of tricks</h5>
  <button ng-click="guessNumberOfTricks(0)" ng-disabled="isGuessTricksDisabled" ng-model="isGuessTricksDisabled">0</button>
  <button ng-repeat="i in range(currentRound)" ng-click="guessNumberOfTricks($index + 1)" ng-disabled="isGuessTricksDisabled" ng-model="isGuessTricksDisabled">{{ $index + 1 }}</button>
</div>

